<div class=" height carousel carousel-slider center " data-indicators="true" >
  <div style="height:100%" class=" carousel-item  valign-demo black white-text" href="#one!">
    <div class="container row padding-20" >
      <div class=" col s12 m6 hide-on-small-only" >
        <P>Rapidos y furiosos</P>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a href="pelicula.html" class="waves-effect waves-light btn indigo">Ver</a>
      </div>
      <div class="container col s12 m6 ">
        <div class="">
          <%= image_tag 'rapidosyfuriosos8.jpg' , width:'100%'    %>

        </div>
        <div class="right">
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
        </div>
      </div>
      <div class=" col s12 m6 hide-on-med-and-up" >
        <p>Rapidos y Furiosos</p>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a  class="waves-effect waves-light btn indigo">Ver</a>
      </div>
    </div>
  </div>
  <div style="height:100%" class=" carousel-item  valign-demo black white-text" href="#one!">
    <div class="container row padding-20" >
      <div class=" col s12 m6 hide-on-small-only" >
        <P>Rapidos y furiosos</P>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Ver</a>
      </div>
      <div class="container col s12 m6 ">
        <div class="">
            <%= image_tag 'rapidosyfuriosos8.jpg' , width:'100%'    %>

        </div>
        <div class="right">
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
        </div>
      </div>
      <div class=" col s12 m6 hide-on-med-and-up" >
        <p>Rapidos y Furiosos</p>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Ver</a>
      </div>
    </div>
  </div>
  <div style="height:100%" class=" carousel-item  valign-demo black white-text" href="#one!">
    <div class="container row padding-20" >
      <div class=" col s12 m6 hide-on-small-only" >
        <P>Rapidos y furiosos</P>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Ver</a>
      </div>
      <div class="container col s12 m6 ">
        <div class="">
          <%= image_tag 'rapidosyfuriosos8.jpg' , width:'100%'    %>
        </div>
        <div class="right">
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
        </div>
      </div>
      <div class=" col s12 m6 hide-on-med-and-up" >
        <p>Rapidos y Furiosos</p>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Ver</a>
      </div>
    </div>
  </div>
  <div style="height:100%" class=" carousel-item  valign-demo black white-text" href="#one!">
    <div class="container row padding-20" >
      <div class=" col s12 m6 hide-on-small-only" >
        <P>Rapidos y furiosos</P>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Ver</a>
      </div>
      <div class="container col s12 m6 ">
        <div class="">
          <%= image_tag 'rapidosyfuriosos8.jpg' , width:'100%'    %>
        </div>
        <div class="right">
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
        </div>
      </div>
      <div class=" col s12 m6 hide-on-med-and-up" >
        <p>Rapidos y Furiosos</p>
        <p class="white-text">Ahora que Dom y Letty están de Luna de Miel y Brian y Mia se han retirado del juego - y el resto del equipo ha sido exonerado- el equipo trotamundos ha encontrado el camino a una vida normal. Pero cuando una misteriosa mujer seduce a Dom en un mundo de crimen él parece no poder escapar y traiciona a aquellos que están más cerca suya</p>
        <a class="waves-effect waves-light btn indigo">Alquilar</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p  class="white-text">Mas Peliculas</p>
  <% @movies.each do |movie| %>
    <div class="center-align row">
      <div class = "col s6 m4 l2 ">
        <div class="card">
          <div class="card-image">
            <a ><%= movie.image %>  </a>
          </div>
          <div class="card-action ">
            <a><%= movie.name %> </a>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
