<div id="modal2" class="modal">
  <div class="  modal-content ">
    <form >
      <p>
         <input type="radio" id="test6"  name="pago" />
         <label for="test6">1 dia  -    S/. 0.99</label>
       </p>
       <p>
         <input type="radio" id="test7"  name="pago"  />
         <label for="test7">1 semana   -    S/. 2.99</label>
       </p>
       <p>
         <input type="radio" id="test8" name="pago" />
         <label for="test8">2 semana   -    S/. 3.99</label>
       </p>
    </form>
  </div>
  <div class="modal-footer">
     <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
 </div>
</div>
<div class=" center" >
  <div style="height:100%" class="  valign-demo black white-text" href="#one!">
    <div class="container row padding-20" >
      <div class=" col s12 m6 hide-on-small-only" >
        <P><%= @movie.name %></P>
        <p class="white-text"><%= @movie.sinopsys %></p>
          <a  href="#modal2" data-activates="modal2" class="waves-effect waves-light btn indigo">Alquilar</a>
      </div>
      <div class="container col s12 m6 ">
        <div class="">
          <%=  @movie.image %>
        </div>
        <div class="left">
          <p ><%= @movie.price%></>
        </div>
        <div class="right">
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
          <i class=" yellow-text tiny material-icons ">star</i>
        </div>
      </div>
      <div class=" col s12 m6 hide-on-med-and-up" >
        <p><%= @movie.name%></p>
        <p class="white-text"><%= @movie.sinopsys %></p>
          <a class="waves-effect waves-light btn indigo">Alquilar</a>
      </div>
    </div>
  </div>
</div>
<div  class="container">
<p  class="white-text">Actores</p>
  <div class="ascrollable ">
    <div class="global  ">
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
          <span class="card-title"></span>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
      <div class="card inline-block">
        <div class="card-image">
          <%=image_tag 'vin_diesel.jpeg'%>
        </div>
        <div class="card-content center">
          <a href="#">Dominic toretto</a>
        </div>
      </div>
    </div>
  </div>
  <p class="white-text">Comentarios</p>
  <div class="row">
    <form class="col s12">
      <div class="row margin-bottom-0px ">
        <div class="input-field col s10 m6 l6">
          <i class="fa fa-user-circle-o prefix" aria-hidden="true"></i>
          <textarea id="icon_prefix1"  class="materialize-textarea white-text"></textarea>
          <label for="icon_prefix1 ">Comentarios</label>
        </div>
      </div>
      <div class="row margin-bottom-0px ">
        <div class="input-field col s10 m6 l6">
          <i class="fa fa-user-circle-o prefix teal-text " aria-hidden="true"></i>
          <input disabled value="Estuvo bien la peliculas" id="icon_prefix2" class="validate grey-text">
          <label for="icon_prefix2"></label>
        </div>
      </div>
      <div class="row margin-bottom-0px ">
        <div class="input-field col s10 m6 l6 push-s2 push-m2 push-l2">
          <i class="fa fa-user-circle-o prefix teal-text " aria-hidden="true"></i>
          <input disabled value="si verdad" id="icon_prefix3" class="validate grey-text">
          <label for="icon_prefix3"></label>
        </div>
      </div>
    </form>
  </div>
  <p class="white-text">Mas peliculas</p>
  <div class="margin-bottom-70px ">
    <div class="margin-bottom-70px ">
      <div class="global  ">
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
            <span class="card-title"></span>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
        <div class="card inline-block">
          <div class="card-image">
            <%=image_tag 'losvengadores.jpg'%>
          </div>
          <div class="card-content center">
            <a href="#">Los vengadores</a>
          </div>
        </div>
      </div>
  </div>
</div>
