<div class="container">
  <div style="background:white; "class=" center margin-top-20 padding-20">
    <div class = "col s6 m4 l4 ">
      <div class="card " style="width:40%;margin: 0 auto;">
        <div class="card-image">
          <img src="Images/portadaRapidos8.jpg">
        </div>
        <div class="card-action ">
          <a href="#"><%= @movie.name%></a>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="input-field col s12 m12 l12 ">
        <label >Nombre</label>
        <p><%= @movie.name%></p>
      </div>
      <div class="input-field col s12 m12 l12 ">
        <label >Categoria</label>
        <p><%= @movie.category%></p>
      </div>
      <div class="input-field col s12 m12 l12 ">
        <label >Genero</label>
        <p><%= @movie.gender%></p>
      </div>
      <div class="input-field col s12 m12 l12 ">
        <label >precio</label>
        <p>S/. <%= @movie.price%></p>
      </div>
      <div class="input-field col s12 m12 l12 ">
        <label >Tiempo de alquiler</label>
        <p><%= @movie.time%></p>
      </div>
      <div class="input-field col s12 m12 l12 ">
        <label >Sinopsis</label>
        <p class="padding-top-20px"><%= @movie.sinopsys%></p>
      </div>
      <div class="col s12 m12 l12">
        <a href="agregar_pelicula.html" class="right waves-effect waves-light btn indigo" style="width:100%">Aceptar</a>
      </div>
    </div>
  </div>
</div>
